.r::before {
  content: "# > R\A";
  font-weight: 200;
  color: blue;
  }

.python::before {
  content:"# >> Python\A";
  font-weight: 200;
  color:green;
  }
  
.cpp::before {
  content:"# C++/Rcpp\A";
  font-weight: 200;
  color:red;
  }
  
.article-banner {
  width: auto;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.home-section {
    padding: 20px 0 20px 0;
}

.citation * {
  color: rgba(150, 150, 150, 1);
  font-weight: bold;
  font-size: 11px;
}

.navbar-brand {
  font-family: 'Roboto Mono', monospace;
  padding-top: 1px;
  padding-bottom: 1px;
}

.navbar-light .navbar-brand {
  font-size: 1.5em;
}

